<!-- views/index.erb (HTML gerado pelo Ruby) -->
<!DOCTYPE html>
<html>
<head>
  <title>Exemplo Ruby</title>
</head>
<body>
  <button id="my_button">Clique-me</button>
  
  <script>
    // Código JavaScript para interatividade no lado do cliente
    document.getElementById('my_button').addEventListener('click', function() {
      alert('Botão clicado!');
    });
  </script>
</body>
</html>
